{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}

    <ul class="bg-white p-6 text-center">
        <li><strong>Episode:</strong> {{episode.episode}} - {{episode.name}}</li>
        <li><strong>Air Date:</strong> {{ episode.air_date }}</li>
    </ul>

    {% include "character.table.html.twig" %}

{% endblock %}