
{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}

    <h1>Locations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Residents</th>
            </tr>
        </thead>
        <tbody>
            {% block table %}
                {{ dump(location) }}
                {{ dump(residents) }}
            {% endblock %}
        </tbody>
    </table>

{% endblock %}


