{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}

    <ul class="bg-white p-6 text-center">
        <li><strong>Location:</strong> {{location.type}} - {{location.name}}</li>
        <li><strong>Dimension:</strong> {{ location.dimension }}</li>
        <li><strong>Amount of Residents:</strong> {{ location.residents|length }}</li>
    </ul>

    {% include "character.table.html.twig" %}


{% endblock %}


